.Login {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin: auto;
  padding: 1rem 3rem 10px;
  max-width: 500px;
  background: #44535D;
  opacity: .9;
  color: #fff;
}

.Login label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.Login input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  margin-bottom: 0.5rem;
}

.Login button {
  padding: 0 1.3rem;
  border: none;
  background: #131416;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.Login button:hover {
  background: #222833;
}

.Login input,
.Login button {
  font-family: inherit;
  height: 3rem;
}

.errorMsg {
  margin-bottom: 5px;
}

.cookies-msg {
  margin: auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #44535D;
  color: #fff;
  opacity: 0.9;
}

/*** MEDIA QUERIES ****/

@media all and (min-width: 800px) {
  .Login {
    margin: 2rem auto;
    max-width: 700px;
    border-radius: 13px;
    padding-bottom: 1rem;
  }

  .Login button {
    display: block;
  }

  label {
    width: 200px;
    display: inline-block;
    text-align: left;
  }

  .cookies-msg {
    margin: 2rem auto;
    max-width: 700px;
    border-radius: 13px;
  }
}