Nav {
  margin: auto;
  padding: 1.5rem 3rem 1.2rem 0.5rem;
  max-width: 500px;
  background: #44535D;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  border-bottom: 1px solid #222833;
}

nav h1 {
  font-size: 1.2rem;
}

.nav-links {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: .8rem;
}

.nav-links li {
  margin: 0 3px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

/*** MEDIA QUERIES ****/
@media all and (min-width: 800px) {
  Nav {
    margin: 2rem auto;
    max-width: 700px;
    padding: 2rem 3rem 3rem;
    border-radius: 13px;
  }

  Nav h1 {
    font-size: 2.6rem;
  }

  .nav-links li {
    width: 50%;
    margin: 0 5px;
    font-size: 1.5rem;
  }
}